@tablet: ~ "screen and (min-width: 426px) and (max-width: 768px)";

@media @tablet {
  
   body {
    width: 100%;
    height: auto;
  }

  //Header

  .Header { 
    width: 100%;
    height: auto;
    margin: auto 0px;
    padding: 0px;
    display: block;
    align-content: center;
    justify-content: center;
  }

  .Menu-list {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 35px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }

  .Header-conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  
       & .Header-title-main {
            width: 100%;
            height: auto;
            margin: 0px;
            padding: 0px;
            text-align: center;
            justify-content: center;
            align-content: center;
            
                & .Header-title {
                max-width: 100%;
                height: auto;
                font-size: 32px;
                margin: 0px;
                margin-top: 40px;
                padding: 20px;
                    }
                }
        & .Header-content {
            max-width: 100%;
            height: auto;
            margin: 0px;
            padding: 20px 45px;
            font-size: 12px;
            text-align: center;
            justify-content: center;
            }
        }
  .Header-button {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
  
        & .button {
            width: 225px;
            height: 65px;
            margin: 0px;
            font-size: 12px;
            text-align: center;
            }
        }

  //Free content

  .article {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  
        & .article-title {
            max-width: 100%;
            height: auto;
            margin: 0px;
            margin-top: 40px;
            padding: 20px;
            }

        & .articlr-text {
            max-width: 100%;
            height: auto;
            margin: 0px;
            padding: 20px 45px;
            font-size: 12px;
            text-align: center;
            }
        }
  .numbers {
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 3px;
    background: none;
  
        & .numbers_item_one {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            justify-items: center;
            background: rgba(52, 84, 122, 1);

            & .img {
                    width: 30px;
                    height: 30px;
                    margin: auto;
                    padding: 5px;
                    display: block;
                    }
                }
            
        & .group {
            width: 100%;
            height: auto;
            margin: 0px;
            padding: 5px;
            justify-content: center;
            align-content: center;
            flex-direction: column;
                   
                & .numbers-h3 {
                    width: 100%;
                    height: auto;
                    margin: 0px;
                    padding: 0px;
                    font-size: 17px;
                    text-align: center;
                            }
                & .numbers-text {
                    width: 100%;
                    height: auto;
                    margin: 0px;
                    padding: 0px;
                    font-size: 12px;
                    text-align: center;
                            }
                        }

        & .numbers_item_two {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            background: rgba(52, 84, 122, 1);
            }
        & .numbers_item_three {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            background: rgba(52, 84, 122, 1);
            }
        & .numbers_item_four {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            background: rgba(52, 84, 122, 1);
            }
        & .numbers_item_five {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            background: rgba(52, 84, 122, 1);
            }
        & .numbers_item_six {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            background: rgba(52, 84, 122, 1);
            }
        }

  //Main

  .video {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: block;
  
       & .video-title {
            width: 100%;
            height: auto;
            margin: 0px;
            box-sizing: border-box;
            display: block;
            justify-content: center;
            align-content: flex-start;
  
                & .video-box {
                    width: 100%;
                    height: auto;
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    align-items: center;
                    
                        & .video-head {
                            max-width: 100%;
                            height: auto;
                            margin: 0px;
                            margin-top: 40px;
                            padding: 20px;
                            }

                        & .video-text {
                            max-width: 100%;
                            height: auto;
                            margin: 0px;
                            padding: 20px 45px;
                            font-size: 12px;
                            text-align: center;
                            }
                        }

                &.rectangle {
                    width: 90%;
                    height: auto;
                    margin: 0 auto;
                    background-image: url(img/Rectangle.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    display: block;
                    justify-content: center;
                    align-content: center;
                    
                        & .play-button {
                            float: none;
                            width: 30px;
                            height: 30px;
                            margin: 50%;
                            }
                        }
                    }
                }

  //Footer

  .Footer {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 0px;
  
      & .Footer-elements {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 20px;
        flex-direction: column;
        display: flex;
        
           & .Footer-autor {
               width: 100%;
               height: auto;
               margin: 0px;
               padding: 0px;
               font-size: 10px;
               text-align: center;
               }
            & .Footer-text {
                width: 100%;
                height: auto;
                margin: 0px;
                padding: 0px;
                font-size: 6px;
                text-align: center;
                }
            }
        }
}

            

 @mobail: ~ "screen and (max-width: 425px)";

@media @mobail { 

  body {
    width: 100%;
    height: auto;
  }

  //Header

  .Header {
    width: 100%;
    height: auto;
    margin: auto 0px;
    padding: 0px;
    display: block;
    align-content: center;
    justify-content: center;
  
       & .Header-hamburger {
            width: 100%;
            height: auto;
            margin-top: 30px;
            padding: 0px;
            padding-left: 80%;
  
                &.hamburger {
                    width: 30px;
                    top: 40px;
                    right: 30px;
                    height: 14px;
                    
                        & span {
                            width: 100%;
                            height: 2px;
                            display: block;
                            background: black;
                            margin-bottom: 4px;
                            }
                        }
                    }
        & nav {
            display: none;
            }
  
        & .Header-conteiner {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        
                & .Header-title-main {
                    width: 100%;
                    height: auto;
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                    justify-content: center;
                    align-content: center;
  
                & .Header-title {
                    max-width: 100%;
                    height: auto;
                    font-size: 32px;
                    margin: 0px;
                    padding: 20px;
                    }
                }
                & .Header-content {
                    max-width: 100%;
                    height: auto;
                    margin: 0px;
                    padding: 10px 15px;
                    font-size: 12px;
                    text-align: center;
                    justify-content: center;
                    }
            }
        & .Header-button {
            width: 100%;
            height: auto;
            margin: 0px;
            padding: 0px;
            justify-items: center;
            align-items: center;
  
            & .button {
                width: 100%;
                height: 65px;
                margin: 0px;
                font-size: 16px;
                text-align: center;
                }
           }
    }

  //Free content

  .article {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  
        & .article-title {
            max-width: 100%;
            height: auto;
            margin: 0px;
            margin-top: 40px;
            padding: 20px;
            }

        & .articlr-text {
            max-width: 100%;
            height: auto;
            margin: 0px;
            padding: 20px 45px;
            font-size: 12px;
            text-align: center;
            }
        }
  .numbers {
    width: 100%;
    height: auto;
    margin: 0px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
        & .numbers_item_one {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            justify-items: center;
 
                & .img {
                    width: 30px;
                    height: 30px;
                    margin: auto;
                    padding: 5px;
                    display: block;
                    }
            }

        & .group {
            width: 100%;
            height: auto;
            margin: 0px;
            padding: 5px;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            
                & .numbers-h3 {
                    width: 100%;
                    height: auto;
                    margin: 0px;
                    padding: 0px;
                    font-size: 17px;
                    text-align: center;
                    }
                & .numbers-text {
                    width: 100%;
                    height: auto;
                    margin: 0px;
                    padding: 0px;
                    font-size: 12px;
                    text-align: center;
                    }
                }
  
        & .numbers_item_two {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            }
        & .numbers_item_three {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            }
        & .numbers_item_four {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            }
        & .numbers_item_five {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            }
        & .numbers_item_six {
            width: 33%;
            height: auto;
            margin: 0px;
            padding: 0px;
            }
        }

  //Main

  .video {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: block;
  
       & .video-title {
            width: 100%;
            height: auto;
            margin: 0px;
            box-sizing: border-box;
            display: block;
            justify-content: center;
            align-content: flex-start;
            
                & .video-box {
                    width: 100%;
                    height: auto;
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    
                        & .video-head {
                            max-width: 100%;
                            height: auto;
                            margin: 0px;
                            padding: 20px;
                            }
                        & .video-text {
                            max-width: 100%;
                            height: auto;
                            margin: 0px;
                            padding: 10px 20px;
                            font-size: 12px;
                            text-align: center;
                            }
                        }

                & .rectangle {
                    width: 100%;
                    height: auto;
                    margin: 0px;
                    background-image: url(img/Rectangle.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    display: block;
                    justify-content: center;
                    align-content: center;
   
                        & .play-button {
                            float: none;
                            width: 30px;
                            height: 30px;
                            margin: 50%;
                            }
                        }
                    }
                }

  //Footer

  .Footer {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
  
        & .Footer-elements {
            width: 100%;
            height: auto;
            margin: 0px;
            padding: 5px;
            justify-items: center;
            align-self: flex-start;
  
                & .Footer-autor {
                    width: 100%;
                    height: auto;
                    margin: 0px;
                    padding-left: 5px;
                    font-size: 10px;
                    }
                & .Footer-text {
                    width: 100%;
                    height: auto;
                    margin: 0px;
                    padding-left: 5px;
                    font-size: 6px;
                    }
                }
            }
}
                    


